/* esconder menu padrão */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* LOGO */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ff4b6e;
    padding-top: 10px;
}

/* CARDS */
.card {
    padding: 25px;
    border-radius: 15px;
    background: #1c1f26;
    text-align: center;
    transition: 0.3s;
}

.card h2 {
    margin-top: 10px;
    color: #ff4b6e;
}

.card:hover {
    transform: translateY(-5px);
}