/* esconder menu padrão */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* header custom */
.header {
    padding: 20px;
    text-align: center;
    background: linear-gradient(90deg, #ff4b6e, #ff758c);
    border-radius: 10px;
    margin-bottom: 30px;
}

.header h2 {
    color: white;
    margin: 0;
}

/* botões */
.stButton>button {
    border-radius: 10px;
    background-color: #ff4b6e;
    color: white;
    border: none;
}