/* esconder menu padrão */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/* fundo geral */
body {
    background-color: #0e1117;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 50px;
    color: #ff4b6e;
}

.hero p {
    font-size: 20px;
    color: #cfcfcf;
}

/* CARDS */
.card {
    padding: 30px;
    border-radius: 20px;
    background: #1c1f26;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    background: #2a2f3a;
}